<div id="posts" class="d-flex flex-column m-auto align-items-center w-75">


  <% for( let i=0; i < posts.length; i++ ) { %>
    <div class="post card my-3" style="width: 30rem;background-color: rgb(244, 249, 251);max-width: 100%;">

      <div class="card-body">
        <div id="user-info" class="d-flex">
          <img src="<%=posts[i].createdBy.avatar%> " alt="Avatar" style="width: 40px;height: 40px;object-fit: cover;"
            class="rounded-circle mr-2">
          <div id="post-created-info">
            <span><b>
                <%= posts[i].createdBy.name %>
              </b> </span>
            <sub>
              <p class="mt-2"><%- posts[i].createdAt %> </p>
            </sub>
          </div>
        </div>

        <p class="card-text mt-4">
          <%= posts[i].title %>
        </p>
        <img src="<%= posts[i].image%>" class="card-img-top" alt="post image" style="object-fit: cover;">
        <div id="comments-container">
          <h5 class="my-2">Comments</h5>
          <%- include('_comments', {post: posts[i]}) %>
        </div>
      </div>
    </div>
    <% } %>
</div>
<div class="seperator" style="background-color: gainsboro;width: 1px;"></div>